<h1>REGISTER</h1>
<form [formGroup]="signupForm">
  <div class="form-group">
    <div class="full-name-inputs">
<input nbInput fullWidth type="text" shape="semi-round" formControlName="firstName" placeholder="First Name" />
<input nbInput fullWidth type="text" shape="semi-round" formControlName="lastName" placeholder="Last name" />
</div>
<br>
<input class="form-control" type="date" formControlName="dob" placeholder="Date of Birth" />
<br>
<input nbInput fullWidth shape="semi-round" type="password" formControlName="password" placeholder="Password"/>
<br>
  <input type="file" (change)="onFileChange($event)" />
</div>
</form>
