@import "../../../../../node_modules/ng-zorro-antd/style/index.min.css"; /* Import basic styles */
@import "../../../../../node_modules/ng-zorro-antd/form/style/index.min.css"; /* Import basic styles */
[nz-form] {
  max-width: 600px;
}
.prefix{
  color: black;
  font-size: 12px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

::ng-deep .ant-form-item-label>label{
  color: aliceblue;
}
.form{
  margin: 5%;
}
