
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">

        <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
        <ngx-skeleton-loader *ngIf="load" count="7"
        [theme]="{ 'border-radius': '5px', height: '30px', 'background-color': '#525f7f', border: '1px solid #2b3553' }">
      </ngx-skeleton-loader>

        <div  *ngIf="!load" class=" card-body">
          <form [formGroup]="profileForm">
            <div class=" row">

              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input disabled
                    class=" form-control"
                    placeholder="email"
                    type="email"
                    [value]="user?.mail"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <mat-form-field  floatLabel="never">
                    <input matInput [max]="maxDate" [matDatepicker]="picker3" placeholder="Date of Borth" formControlName="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                  <div class=" form-group">
                    <label for="exampleInputEmail1"> Phone number </label>
                    <input formControlName="phoneNumber"
                      class=" form-control"
                      placeholder="Phone Number"
                      type="text"
                    />
                  </div>
                </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input formControlName="firstName"
                    class=" form-control"
                    placeholder="First Name"
                    type="text"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input formControlName="lastName"
                    class=" form-control"
                    placeholder="Last Name"
                    type="text"

                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input formControlName="address"
                    class=" form-control"
                    placeholder="Home Address"
                    type="text"

                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input formControlName="city"
                    class=" form-control"
                    placeholder="City"
                    type="text"

                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Suburb </label>
                  <input formControlName="suburb"
                    class=" form-control"
                    placeholder="Suburb"
                    type="text"

                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Postal Code </label>
                  <input formControlName="postal"
                    class=" form-control"
                    placeholder="Postal Code"
                    type="number"

                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button [disabled]="profileForm.invalid || !profileForm.dirty"  *ngIf="!load" class=" btn btn-fill btn-danger" (click)="update()" type="submit">Save</button>
        </div>
      </div>

    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
                <img  *ngIf="load" alt="..." class=" avatar" src="../../../assets/spin.gif" />
              <img  *ngIf="!load" alt="..." class=" avatar" src="{{user?.picture}}" />
              <ngx-skeleton-loader *ngIf="load" count="1"
              [theme]="{ 'border-radius': '5px', height: '30px', 'background-color': '#525f7f', border: '1px solid #2b3553' }">
            </ngx-skeleton-loader>
              <h5 class=" title">{{user?.firstName}} {{user?.lastName}}</h5>
            </a>
            <p class=" description"></p>
          </div>

        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
